body {
    display: flex ;
    justify-content: center;
    align-items: center;
    margin:0px;
    background: linear-gradient(to right, #240b36, #c31432);
    }


div h1, h3 {
    font-family:Arial;
    color: black;
    padding:5px;
}

.white-box {
    padding-top: 50px;
    margin-top:100px;
    width: 450px;
    height: 500px;
    border-radius: 15px;
    background-color:white;
    text-align:Center;
}

.form {
    font-family: arial;
}

div button {
    font-family: arial;
    border-radius:10px;
    height:30px;
    width:300px;
    background:blue;
    color:white;
}

.checkbox {
    font-family: arial;
}

.name {
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:arial;
}
